<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Adicionar Ambulante</h4>
            <p class="card-category">Preencha os dados do ambulante que deseja cadastrar</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Company (disabled)" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email" class="form-control"
                      id="email" name="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field for="nome" class="example-full-width">
                    <input matInput placeholder="Nome Completo" formControlName="nome" id="nome" name="nome"
                      type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Local de trabalho" type="text" formControlName="local" id="local"
                      name="local">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Produto" type="text" formControlName="produto" id="produto"
                      name="produto">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" type="text" formControlName="cpf" class="form-control" id="cpf"
                      name="cpf">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>